USE [Rane_DB]
GO
/****** Object:  Table [dbo].[Mst_Asset]    Script Date: 16-10-2023 14:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mst_Asset](
	[Asset_type] [varchar](50) NULL,
	[Asset_sl_no] [varchar](50) NULL,
	[Asset_make] [varchar](50) NULL,
	[Asset_specification] [varchar](50) NULL,
	[Asset_model] [varchar](50) NULL,
	[Asset_date_of_installation] [datetime] NULL,
	[Asset_po_no] [varchar](50) NULL,
	[Asset_po_date] [datetime] NULL,
	[Asset_invoice_no] [varchar](50) NULL,
	[Asset_invoice_date] [datetime] NULL,
	[Asset_mso_version] [varchar](50) NULL,
	[Asset_os] [varchar](50) NULL,
	[Userid] [int] NULL,
	[Asset_warranty_end_date] [date] NULL,
	[Asset_status] [varchar](20) NULL,
	[Asset_host_name] [varchar](50) NULL,
	[Asset_ip] [varchar](50) NULL,
	[Asset_remarks] [varchar](500) NULL,
	[Created_by] [int] NULL,
	[Created_on] [datetime] NULL,
	[Modified_by] [int] NULL,
	[Modified_on] [datetime] NULL,
	[Active_status] [bit] NULL,
	[Asset_id] [int] IDENTITY(1,1) NOT NULL,
	[Modification_status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Asset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mst_Department]    Script Date: 16-10-2023 14:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mst_Department](
	[Dept_id] [int] IDENTITY(1,1) NOT NULL,
	[Dept_code] [varchar](10) NULL,
	[Dept_name] [varchar](50) NULL,
	[Created_by] [int] NULL,
	[Created_on] [datetime] NULL,
	[Modified_by] [int] NULL,
	[Modified_on] [datetime] NULL,
	[Active_status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mst_Designation]    Script Date: 16-10-2023 14:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mst_Designation](
	[Designation_id] [int] NULL,
	[Designation] [varchar](50) NULL,
	[Created_by] [int] NULL,
	[Enter_date] [datetime] NULL,
	[Modified_by] [int] NULL,
	[Modified_on] [datetime] NULL,
	[Active_status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mst_Plant]    Script Date: 16-10-2023 14:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mst_Plant](
	[Plant_ID] [int] IDENTITY(1,1) NOT NULL,
	[Plant_code] [int] NULL,
	[Plant_name] [varchar](50) NULL,
	[Plant_location] [varchar](50) NULL,
	[Created_by] [int] NULL,
	[Created_on] [datetime] NULL,
	[Modified_by] [int] NULL,
	[Modified_on] [datetime] NULL,
	[Active_status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Plant_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mst_Product]    Script Date: 16-10-2023 14:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mst_Product](
	[Product_id] [int] IDENTITY(1,1) NOT NULL,
	[Product_code] [varchar](50) NULL,
	[Product_name] [varchar](50) NULL,
	[Created_by] [int] NULL,
	[Created_on] [datetime] NULL,
	[Modified_by] [int] NULL,
	[Modified_on] [datetime] NULL,
	[Active_status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mst_Root_Cause]    Script Date: 16-10-2023 14:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mst_Root_Cause](
	[Root_cause_id] [int] NULL,
	[Root_cause_name] [varchar](50) NULL,
	[Created_by] [int] NULL,
	[Created_on] [datetime] NULL,
	[Modified_by] [int] NULL,
	[Modified_on] [datetime] NULL,
	[Active_status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mst_Service_Category]    Script Date: 16-10-2023 14:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mst_Service_Category](
	[Service_category_id] [int] NULL,
	[Service_category_type] [varchar](50) NULL,
	[Service_category] [varchar](50) NULL,
	[Created_by] [int] NULL,
	[Created_on] [datetime] NULL,
	[Modified_by] [int] NULL,
	[Modified_on] [datetime] NULL,
	[Active_status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mst_User]    Script Date: 16-10-2023 14:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mst_User](
	[Userid] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[User_password] [varchar](50) NULL,
	[Dept_id] [int] NULL,
	[User_mail_id] [varchar](50) NULL,
	[Plant_id] [int] NULL,
	[Designation_id] [int] NULL,
	[User_phone_no] [varchar](20) NULL,
	[User_role] [varchar](50) NULL,
	[Created_by] [int] NULL,
	[Created_on] [datetime] NULL,
	[Modified_by] [int] NULL,
	[Modified_on] [datetime] NULL,
	[Active_status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trn_Ticket]    Script Date: 16-10-2023 14:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trn_Ticket](
	[Plant_id] [int] NULL,
	[Ticket_raise_date] [datetime] NULL,
	[Asset_id] [int] NULL,
	[Product_id] [int] NULL,
	[Service_category_id] [int] NULL,
	[Userid] [int] NULL,
	[Problem_description] [varchar](500) NULL,
	[Engineer_id] [int] NULL,
	[Root_cause_id] [int] NULL,
	[Action_taken] [varchar](500) NULL,
	[Close_date] [datetime] NULL,
	[Response] [varchar](500) NULL,
	[Ticket_status] [varchar](1) NULL,
	[Created_by] [int] NULL,
	[Created_on] [datetime] NULL,
	[Modified_by] [int] NULL,
	[Modified_on] [datetime] NULL,
	[Active_status] [bit] NULL,
	[Ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[Service_type] [varchar](20) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Mst_Asset] ON 

SET IDENTITY_INSERT [dbo].[Mst_Asset] OFF
GO
SET IDENTITY_INSERT [dbo].[Mst_Department] ON 

INSERT [dbo].[Mst_Department] ([Dept_id], [Dept_code], [Dept_name], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (1, N'100', N'IT', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Mst_Department] ([Dept_id], [Dept_code], [Dept_name], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (2, N'200', N'Research', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Mst_Department] ([Dept_id], [Dept_code], [Dept_name], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (3, N'101', N'RND', NULL, NULL, 1, CAST(N'2023-08-20T19:40:05.493' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Mst_Department] OFF
GO
INSERT [dbo].[Mst_Designation] ([Designation_id], [Designation], [Created_by], [Enter_date], [Modified_by], [Modified_on], [Active_status]) VALUES (1, N'Manager', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Mst_Designation] ([Designation_id], [Designation], [Created_by], [Enter_date], [Modified_by], [Modified_on], [Active_status]) VALUES (2, N'HR', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Mst_Designation] ([Designation_id], [Designation], [Created_by], [Enter_date], [Modified_by], [Modified_on], [Active_status]) VALUES (5, N'test5', NULL, NULL, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Mst_Plant] ON 

INSERT [dbo].[Mst_Plant] ([Plant_ID], [Plant_code], [Plant_name], [Plant_location], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (1, 1000, N'RML-VLCY', N'Chennai', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Mst_Plant] ([Plant_ID], [Plant_code], [Plant_name], [Plant_location], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (2, 1200, N'RML_MYS', N'Mysore', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Mst_Plant] ([Plant_ID], [Plant_code], [Plant_name], [Plant_location], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (3, 1400, N'RML-PDY', N'Puducherry', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Mst_Plant] OFF
GO
SET IDENTITY_INSERT [dbo].[Mst_Product] ON 

INSERT [dbo].[Mst_Product] ([Product_id], [Product_code], [Product_name], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (1, N'101', N'Laptop', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Mst_Product] ([Product_id], [Product_code], [Product_name], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (2, N'105', N'Computer', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Mst_Product] ([Product_id], [Product_code], [Product_name], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (3, N'110', N'test', NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Mst_Product] OFF
GO
INSERT [dbo].[Mst_Root_Cause] ([Root_cause_id], [Root_cause_name], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (1, N'Outdated version', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Mst_Root_Cause] ([Root_cause_id], [Root_cause_name], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (2, N'User fault', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Mst_Root_Cause] ([Root_cause_id], [Root_cause_name], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (3, N'Missing', NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[Mst_Service_Category] ([Service_category_id], [Service_category_type], [Service_category], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (1, N'Hardware', N'Specs upgradation', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Mst_Service_Category] ([Service_category_id], [Service_category_type], [Service_category], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (2, N'Hardware', N'Monitor replacement', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Mst_Service_Category] ([Service_category_id], [Service_category_type], [Service_category], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (3, N'Software', N'MS office update', NULL, NULL, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Mst_User] ON 

INSERT [dbo].[Mst_User] ([Userid], [Username], [User_password], [Dept_id], [User_mail_id], [Plant_id], [Designation_id], [User_phone_no], [User_role], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (1, N'Athithyaa', N'1234', 3, N'athithyaa121@gmail.com', 1, 2, N'8870171995', N'admin', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Mst_User] ([Userid], [Username], [User_password], [Dept_id], [User_mail_id], [Plant_id], [Designation_id], [User_phone_no], [User_role], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (2, N'test1', N'1', 1, N'test1@gmail.com', 3, 54, N'1234567890', N'approver', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Mst_User] ([Userid], [Username], [User_password], [Dept_id], [User_mail_id], [Plant_id], [Designation_id], [User_phone_no], [User_role], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status]) VALUES (3, N'test2', N'2', 16, N'test2@gmail.com', 2, 1, N'9876543219', N'user', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Mst_User] OFF
GO
SET IDENTITY_INSERT [dbo].[Trn_Ticket] ON 

INSERT [dbo].[Trn_Ticket] ([Plant_id], [Ticket_raise_date], [Asset_id], [Product_id], [Service_category_id], [Userid], [Problem_description], [Engineer_id], [Root_cause_id], [Action_taken], [Close_date], [Response], [Ticket_status], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status], [Ticket_id], [Service_type]) VALUES (1, CAST(N'2023-07-16T10:40:12.640' AS DateTime), 58, 4, 1, 1, N'Display error', 10, 2, N'S', NULL, NULL, N'H', NULL, NULL, NULL, CAST(N'2023-07-16T14:47:21.773' AS DateTime), 1, 1, NULL)
INSERT [dbo].[Trn_Ticket] ([Plant_id], [Ticket_raise_date], [Asset_id], [Product_id], [Service_category_id], [Userid], [Problem_description], [Engineer_id], [Root_cause_id], [Action_taken], [Close_date], [Response], [Ticket_status], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status], [Ticket_id], [Service_type]) VALUES (1, NULL, 60, 4, 1, 1, N'upgradation required', 10, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2, N'hardware')
INSERT [dbo].[Trn_Ticket] ([Plant_id], [Ticket_raise_date], [Asset_id], [Product_id], [Service_category_id], [Userid], [Problem_description], [Engineer_id], [Root_cause_id], [Action_taken], [Close_date], [Response], [Ticket_status], [Created_by], [Created_on], [Modified_by], [Modified_on], [Active_status], [Ticket_id], [Service_type]) VALUES (1, CAST(N'2023-07-16T12:24:12.700' AS DateTime), 52, 2, 1, 1, N'asda', 10, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 3, N'hardware')
SET IDENTITY_INSERT [dbo].[Trn_Ticket] OFF
GO
ALTER TABLE [dbo].[Mst_Asset] ADD  DEFAULT ((0)) FOR [Modification_status]
GO
/****** Object:  StoredProcedure [dbo].[asset_list]    Script Date: 16-10-2023 14:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[asset_list] 

As

Begin

	SELECT Mst_Asset.*, Mst_User.Username , Mst_Department.Dept_name
    FROM Mst_User 
    INNER JOIN Mst_Department ON Mst_User.Dept_id = Mst_Department.Dept_id
    INNER JOIN Mst_Asset ON Mst_Asset.Userid = Mst_User.Userid
    where Mst_Asset.Active_status=1 and Mst_Asset.Modification_status = 0

end
GO
