.ticket-list-container {
  overflow-x: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  background-color: transparent;
}

.ticket-list-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}


.ticket-list {
  display: flex;
  background-color: transparent;
  margin: 30px;
}

.asset-list-container {
  overflow-x: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  background-color: transparent;

}

.asset-list-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}


.asset-list {
  display: flex;
  background-color: transparent;
  margin: 30px;
}

.item-container {
  flex: 0 0 300px;
  background: rgb(98, 109, 119);
  padding: 10px;
  margin-right: 10px;
  width: fit-content;
  border-radius: 20px;
  color: #ffffff;


}

.item-asset-container {
  flex: 0 0 300px;
  background: rgb(98, 109, 119);
  padding: 10px;
  margin-right: 10px;
  width: fit-content;
  border-radius: 20px;
  color: #ffffff;


}

.user-profile {
  display:block;
  text-align: center;
  margin-right: 0;
}

.user-profile img {
  width: 12%;
  height: 5%;
  border-radius: 10%;
  margin-right: 10px;
}

.user-profile h3 {
  margin: 0;
}

.info-boxes {
  margin-right: 10px;
  margin-bottom: 10px;
}

.info-boxes1 {
  margin-right: 10px;
}

.info-box {
  background-color: rgb(255, 255, 255);
  padding: 2%;
  border-radius: 20px;
  color: #3c63e1;
  margin: 1%;
  height: 40%;
  width: 45%; /* Set a fixed width for the info-box */
  display: block; /* Use 'display' property to stack info-boxes vertically */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  float: left; /* Use 'float' property to float the info-boxes */
}


.info-box h4 {
  margin: 0;
}

.info-box1 {
  background-color: rgb(255, 255, 255);
  padding: 3%;
  width: 35%;
  float: left;
  border-radius: 20px;
  color: #3c63e1;
  margin-top: 10px;
  margin-bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  height: 33%;
  /* Set the desired height value */
  flex-direction: row;
}

.info-box1 h4 {
  margin: 0;
}

.img2 {
  width: 40px;
  height: 50%;
}

.h3_1 {
  margin-left: 2%;
}

.h1_1 {
  margin-left: 60%;
  font-size: 70px;
}

.left1 {
  width: 60%;
  float: left
}

.right1 {
  width: 30%;
  float: left
}

.table1 {
  width: 100%;
  border-collapse: collapse;
  border-color: transparent;
}

.td1 {
  border: 1px solid #ccc;
  padding: 20px;
}
